*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    --bg-color: rgb(43, 40, 40);
    --second-bg-color: #1e2020;
    --text-color: rgb(252, 248, 251);
    --main-color: #e415ff;
}
html{
    font: size 62.5%;
    overflow-x:hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 6%;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a{
    font-size: 1rem;
    color: white;
    margin-left: 3rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
} 
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.home-content h3:nth-of-type(2){
    margin-bottom: 1rem;
    font-size: 3rem;
}
.home-content h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color); 
    cursor: pointer;
}
.home-content p{
    font-size: 1.0rem;
    font-weight: 500;
}
.social-icons a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height:  2rem;
    background: transparent;
    border: 0.1rem solid var(--main-color);
    font-size: 1rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 1rem 1.5rem 1rem 0;
    transition: 0.3 ease;
}
.social-icons a:hover{
    color: white;
    transform: scale(1.3)translateY(-5px);
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 1.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.1rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    gap: 1.5rem;
}
.btn:hover{
    transform: scale(1.0s);
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color);

}

.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span:before{
    content: 'Youtuber';
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span:after{
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    width: calc(50% + 8px);
    height: ;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps
    (14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: 'Web Developer';
    }
    21%,
    40%{
        content: 'Web Design';
    }
    41%,
    60%{
        content: 'Photographer';
    }
    61%,
    80%{
        content: 'Blogger';
    }
    81%,
    100%{
        content: 'Content Creator';
    } 
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(50% + 8px);
    }
}
.heading {
    text-align: center;
    font-size: 2rem;
}
.services{
    background-color: var(--bg-color);
}
.services h2{
    margin-bottom: 2rem;
    color: white;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;   
    gap: 1.5rem;
}
.services-box{
    flex: 0 0 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgb(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 5px solid rgba(255, 255, 255, 0.5);
    border-left: 5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    padding: 1rem 1rem 2rem;
    height: 200px;
    border-radius: 3rem;
    border: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.services-box:hover{
    transform: scale(1.02);
    background-color: rgb(252, 200, 245);
    color: black;
    border: 5x solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color)
}
.services-box i{
    font-size: 2rem;
    color: rgb(245, 155, 233);
    margin-bottom: 1rem;

}
.services-box h3{ 
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2;
}
.services-box p{
    font-size: 1.0rem;
    margin: auto;
    font-weight: 500;
    max-height: 100px;
    line-height: 1.0;
}
.services-box .services-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: center;
    padding: 2rem 2rem;
}
.services-info h4{
    font-size: 3rem;
    font-weight: 800;
}
.education{
    background: var(--bg-color);
}
.education .timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.education .timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -2px;
}
.education .container{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.education .container::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    line-height: 25px;
    right: -10px;
    background-color: rgb(252, 252, 252);
    border: 4px solid var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    color: rgb(90, 64, 64);
}
.education .left {
    left: 0;
}
.education .right {
    left: 50%;
}
.education .left::before{
    content: '';
    height: 0;
    position: absolute;
    width: 0px;
    top: 22px;;
    z-index: 1;
    right: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--main-color);
}
.education .left::before{
    content: '';
    height: 0;
    position: absolute;
    width: 0px;
    top: 22px;;
    z-index: 1;
    left: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent var(--main-color) transparent transparent;
}
.education .right::after{
    left: -16px;
}
.education .content {
    background:  rgb(255, 255, 255, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 3px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    position: relative;
    border-radius: 10px;
}
.education .content .tag{
    font-size: 1.0rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}
.education .content .decs{
    margin-left: 1.5rem;
    padding-bottom: 1rem;
}

.education .content .decs h3{
    font-size: 1.0rem;
    font-weight: 500;
}
.education .content .decs p{
    font-size: 1.0rem;
    font-weight: 500;
}

@media screen and (max-width:600px) {
    .education .timeline {
        margin-top: 2rem;
    }
    .education .timeline::after{
        left: 31px;
    }
    .education .container{
        width: 100%;
        padding-left: 8rem;
        padding-right: 2rem;
    }
    .education .container::after{
        font-size: 2.2rem;
    }
    .education .container::before {
        left: 61px;
        border: medium solid var(--main-color);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--main-color) transparent transparent;
    }
    .education .left::after{
        left: 15px;
    }
    .education .right::after{
        left: 15px;
    }
    .education .right{
        left: 0%;
    }

}
.contact{
    background-color: var(--second-bg-color);
}
.contact h2{
    margin-bottom: 0rem;
}
.contact form{
    max-width: 20rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
    
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.0rem;
    font-size: 5%rem;
    color:var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize:none;
}
.contact form .btn{
    margin-top: 1rem;
    
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color:  var(--main-color);
    backdrop-filter: blur(50px);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 25px;
    color:white;
    border: 2px solid white;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}
.footer .social a:hover {
    transform: scale(1.2)translateY(-10px);
    background-color: white;
    color: var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid white;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}
@media (max-width:1200px) {
    html{
        font-size: 55%;
    }
    .project-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(1,1fr);
        margin: 0 5rem;
    }
}
@media (max-width: 1000px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .services{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:955px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background: var(--second-bg-color);
        border-top: 0.1rem solid rgb(0, 0, 0, 0.1);
        display: none;
    }
    .navbar .active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .projects h2{
        margin-bottom: 3rem;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding: 0;
         text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
}